<footer>
    <div id="menu-footer">
        <a href="./">Inicio</a>
       <a href="./login">Login</a>
       <a href="./mensagens">Mensagens</a>
       <a href="./database">Database</a>
       <a href="./avisos">Avisos</a>
       <a href="./catalogo">Catálogo</a>
    </div>
    <h3>Todos direitos reservados.</h3>
</footer>
</body>
</html>
