<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>
        <div id="logo"></div>
        <div id="menu">
          <a class="botao-menu" href="./">Inicio</a>
          <a class="botao-menu" href="./login">Login</a>
          <a class="botao-menu" href="./mensagens">Mensagens</a>
          <a class="botao-menu" href="./database">Database</a>
          <a class="botao-menu" href="./avisos">Avisos</a>
          <a class="botao-menu" href="./catalogo">Catálogo</a>
       </div>
    </header>