<%- include("./partials/header") %>

    <main>
      <section id="content-geral">
          <section id="content-central">
              <div class="content-box">
                  <h2>Avisos</h2>
                  <img src="images/comemoracao.jpeg" width="100%">
                  <h4>Dia de comemoração</h4>
                  <span> ipsum dolor sit, amet consectetur adipisicing elit. Nostrum exercitationem voluptatem alias amet quasi enim veritatis, aut nihil sed laborum temporibus fugit eaque distinctio repellat esse ducimus ipsa. Repellat, consequuntur. </span>
              </div>
          </section>
      </section>

      <section id="area-direita">
          <div class="content-box">
              <h2>Pessoas</h2>
              <a href=""> Funcionario 1 <img class="msg-icon" src="images/message-icon.png" width="20px"></a>
              <a href=""> Funcionario 2 <img class="msg-icon"  src="images/message-icon.png" width="20px"></a>
          </div>
      </section>
  </main>
    
<%- include("./partials/footer") %>
