<%- include("./partials/header") %>

<main>
  <section id="content-geral">

      <section id="content-central">
          <div class="content-box">
              <h2>Cadastrar</h2>
              <form>
                  Email: <input type="text" name="email"></br>
                  Senha: <input type="password" name="senha"> </br>
                  <input type="submit" value="Cadastrar">
              </form>
          </div>
      </section>
 
  </section>
</main>
    
<%- include("./partials/footer") %>