<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>
        <div id="logo"></div>
        <div id="menu">
            <a class="botao-menu" href="./">Inicio</a>
            <a class="botao-menu" href="./login">Login</a>
            <a class="botao-menu" href="./mensagens">Mensagens</a>
            <a class="botao-menu" href="./database">Database</a>
            <a class="botao-menu" href="./avisos">Avisos</a>
            <a class="botao-menu" href="./catalogo">Catálogo</a>
         </div>
    </header>

    <main>
      <section id="content-geral">

          <section id="content-central">
              <div class="content-box">
                  <h2>PRODUTO 1</h2>
                  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tenetur corrupti expedita odio? Est sunt in mollitia magni. Nostrum perspiciatis temporibus enim, facere, tenetur, adipisci eos unde voluptates repellat alias qui.
              </div>
          </section>
          
          <section id="content-rodape">
            <div class="content-box">
              <h2>PRODUTO 2</h2>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tenetur corrupti expedita odio? Est sunt in mollitia magni. Nostrum perspiciatis temporibus enim, facere, tenetur, adipisci eos unde voluptates repellat alias qui.
            </div>
        </section>

      </section>

      <section id="area-direita">
        <div class="content-box">
            <h2>Pessoas</h2>
            <a href=""> Funcionario 1 <img class="msg-icon" src="images/message-icon.png" width="20px"></a>
            <a href=""> Funcionario 2 <img class="msg-icon"  src="images/message-icon.png" width="20px"></a>
        </div>
    </section>
  </main>
    
    <footer>
      <div id="menu-footer">
        <a href="./">Inicio</a>
       <a href="./login">Login</a>
       <a href="./mensagens">Mensagens</a>
       <a href="./database">Database</a>
       <a href="./avisos">Avisos</a>
       <a href="./catalogo">Catálogo</a>
    </div>
        <h3>Todos direitos reservados.</h3>
    </footer>
</body>
</html>
