<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>
        <div id="logo"></div>
        <div id="menu">
            <a class="botao-menu" href="./">Inicio</a>
            <a class="botao-menu" href="./login">Login</a>
            <a class="botao-menu" href="./mensagens">Mensagens</a>
            <a class="botao-menu" href="./database">Database</a>
            <a class="botao-menu" href="./avisos">Avisos</a>
            <a class="botao-menu" href="./catalogo">Catálogo</a>
         </div>
    </header>

    <main>
        <section id="content-geral">

            <section id="content-central">
                <div class="content-box">
                    <h2>Login</h2>
                    <form>
                        Email: <input type="text" name="email"></br>
                        Senha: <input type="password" name="senha"> </br>
                        <input type="submit" value="Login">
                    </form>
                </div>
            </section>

            <section id="content-rodape">
                <div class="content-box">
                    <h2>Cadastrar</h2>
                    <a class="botao" href="cadastrar.html">CLIQUE AQUI</a>
                </div>
            </section>
            
        </section>
    </main>

    <footer>
        <div id="menu-footer">
            <a href="./">Inicio</a>
           <a href="./login">Login</a>
           <a href="./mensagens">Mensagens</a>
           <a href="./database">Database</a>
           <a href="./avisos">Avisos</a>
           <a href="./catalogo">Catálogo</a>
        </div>
        <h3>Todos direitos reservados.</h3>
    </footer>
</body>
</html>