<%- include("./partials/header") %>
    <main>
      <section id="content-geral">

          <section id="content-central">
              <div class="content-box">
                  <h2>Mensagem</h2>
                  <form>
                      Sua mensagem: <input type="text" name="mensagem"></br>
                      <input type="submit" value="ENVIAR">
                  </form>
              </div>
          </section>
          
          <section id="content-rodape">
            <div class="content-box">
                <h2>Mensagens Recebidas</h2>
                <a class="botao">RECEBER</a>
            </div>
        </section>

      </section>

      <section id="area-direita">
        <div class="content-box">
            <h2>Pessoas</h2>
            <a href=""> Funcionario 1 <img class="msg-icon" src="images/message-icon.png" width="20px"></a>
            <a href=""> Funcionario 2 <img class="msg-icon"  src="images/message-icon.png" width="20px"></a>
        </div>
    </section>
  </main>
    
<%- include("./partials/footer") %>
